.portfolio{
    color:#fff;
    text-align:center;
    img{
        width:100%;
    }

    h2{
        font-size: 2.75rem;
        font-variant: small-caps;
    }

    p{
        margin-bottom:3rem;
    }
}
 
.herc-rentals{
    background-color:#438ad9;
    padding: 4rem .25rem;
}
.disney{
    background-color: #f78600;
     padding: 4rem .25rem;
}